<!-- Tomado de Brando Enrique: https://www.youtube.com/watch?v=i-3Ws1lWVMg
https://www.youtube.com/watch?v=UmETTIFdfzI -->

{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hola tripulantes!</h1>
    <p class="lead">
    En esta página web van a encontrar los enunciados y las soluciones de los retos, a medida que vayamo progresando en el curso les estaré mostrando por este medi la solución de cada uno de los  retos paa que ustedes puedan ayudarse y ve la diferencia con el código que ustedes mismos implemenataron para cada uno de los retos qu les tocó
    </p>
    <hr class="my-4" />
    <p>
        It uses utility classes for typography and spacing to space content out
    within the larger container.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
{% endblock %}
